# Dependencias
node_modules/

# Archivos compilados
dist/

# Variables de entorno
.env

# Cobertura de tests
coverage/

# Configuración local de VS Code
.vscode/

# Archivos del sistema (macOS)
.DS_Store
/src/generated/prisma

src/migrations/.snapshot-Nukeboxd_test.json

